.favorites-content{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 640px;
    border-radius: 5px;
}
.favorites-items-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 1rem;
    justify-items: center;
    padding: 0 20px;
}

.sort-btn{
    margin: 0 auto;
    color: var(--text-primary);
    border: 1px solid var(--border);
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    background: rgba(255,255,255,.4);
    color: var(--text-primary);
    font-family: 'Poppins', sans-serif;
}

.sort-btn:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    background-color: white;
    background: rgba(255,255,255,.7);
}

.favorites-is-empty-msg{
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 50px;
    color: var(--text-primary)
}