.weather-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-height: 550px;
    margin: 10px auto;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--background);
    box-shadow: 0 0 12px var(--border);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 150px;
    padding: 10px 0;
}

.current-city, .save-city-container {
    font-family: 'Poppins', sans-serif;
}

.row:nth-of-type(1) {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.row:nth-of-type(3) {
    flex: 1 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 1rem;
    justify-items: center;
}

.current-city {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 0 10px;
    height: 150px;
}

.toggle-degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
}

.toggle-degree-btn {
    cursor: pointer;
}

.current-city-time {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0 0 12px var(--border);
}

.current-city-time img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.city-content div {
    height: 50%;
    display: flex;
    align-items: center;
}

.current-city-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.save-city-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 150px;
    margin: 0 10px;
}

.save-city-container svg, .save-city-container div {
    cursor: pointer;
}

.save-city-btn, .delete-city-btn {
    margin-left: 15px;
}

.clouds-type {
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

@media (max-width: 400px) {
    .row {
        flex-direction: column;
    }

    .current-city {
        margin-bottom: 10px;
    }
}